<web-app>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.yourcompany.accessmanagement.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <!-- Additional servlet mappings will go here -->
</web-app>
